.article__list-box {
  height: 100%;
  width: 100%;
}

.article {
  &__list {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 0 45px;
    justify-content: flex-start;
    list-style: none;
    margin: unset;
    padding: unset;

    &-header {
      position: relative;
      color: #363636;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      margin-bottom: 50px;

      &::after {
        position: absolute;
        content: "";
        top: 24px;
        left: 0;
        border-bottom: 1px solid #eaeaea;
        width: 100%;
      }
    }
  }
}

#ListContainer {
  padding: unset;
}
